.site-footer
    margin-top: 2rem

.footerMenu
    .centerFooter
        display: table
        margin: 0 auto
        width: auto
        li
            display: inline-block
            margin-right: 1rem
            font-weight: 700
            a
                color: #000
                text-decoration: none
            .logoIcon
                width: 25px

.footerNav
    padding-top: 1rem
    padding-bottom: 1rem
    display: table
    margin: 0 auto
    width: auto
    li
        display: inline-block
        margin-right: 1rem
        font-weight: 700
        a
            color: #000
            text-decoration: none