
.notfound
    margin-top: 2rem
    h2
        font-size: 3rem
        font-weight: 700
        text-align: center
        padding: 200px 0px 25px 0px
        
    .searchForm
        margin-bottom: 100px
        label
            width: 100%
        input[type='search']
            width: 100%
            height: 50px
            border-radius: 5px
            border: 1px #efe8e8 solid
        input[type='submit']
            margin-top: 1rem
            height: 50px
            border-radius: 5px
            padding: 0rem 5rem
            background: #efe8e8
            border: 1px #efe8e8 solid
            font-weight: 600

.searchResults
    padding: 0px 0px 250px 0px
    .count
        font-weight: 700
        margin-bottom: 25px
        background: #d1d1d1
        color: #fff
        display: inline-block
        padding: 0.5rem 1rem
        border-radius: 23px
    .result
        margin-bottom: 50px
        .details
            font-size: 0.875rem
        p
            color: #9d9d9d
            line-height: 2rem
        .excerpt
            a
                color: #000
                text-decoration: none
                font-weight: 700