
{% extends "layout/base.twig" %}



{% block content %}

    <div class="row">

    <div class="col-md-6 offset-md-3">


    <div class="pageTemp">
        <h1>{{page.title}}</h1>
        <div class="content">
            {{page.content}}
        </div>
    </div>

    </div>
    </div>

{% endblock %}